.notebook {
  background-color: lightblue;
}

.notebook .row {
  background-color: whitesmoke;
  margin: 2px;
}

.notes-display table td a {
  color: var(--color--white);
  border-color: var(--color--primary-40);
  background-color: var(--color--primary-40);
  text-decoration: none;
  border-radius: 10px;
  padding: 7px;
  font-weight: bold;
}

.notes-display table {
  border: 2px solid pink;
}
.form-display,
.notes-display {
  border: 2px solid pink;
}

.table {
  background-color: white;
}

.notebook h1 {
  font-size: 20px !important;
}

.pager.layout--content-medium {
  padding: 25px 0px;
}

.pager.layout--content-medium  .pager__items.js-pager__items {
  justify-content: center;
}

@media (min-width: 62.5rem) {
  .layout--content-medium,
  .layout--pass--content-medium > * {
    grid-column: 2 / 14 !important;
  }
}
