<body>
<div class="container-fluid notebook">
   <h1>My Notebook</h1>
     {% if output_id == "notebook-page" %}
      <div class="row">
         <div class="col-md-6 form-display">
             <h4>Add Notes</h4>
             {{ output1 }}
          </div>
         <div class="col-md-6 notes-display">
           <h4>My Notes</h4>
           {{ output2 }}
         </div>
      </div>
      {% endif %}
      {% if output_id == "note-page" %}
       <div class="row">
         <h4>My memory</h4>
         <div class="col-md-12 note">
         {{ output1 }}
         </div>
       </div>
      {% endif %}
       {% if output_id == "edit-note" %}
       <div class="row">
         <h4>Edit memory</h4>
         <div class="col-md-12 note">
         {{ output1 }}
         </div>
       </div>
      {% endif %}
</div>
</body>
